.aside_bar {
    background: #fff;
    border-right: 1px solid #d3d3d3;
    height: 100vh;
    min-width: 300px;
    width: 300px;
    position: sticky;
    top: 0;
    .header {
        padding-left: 2rem;
        height: 79px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 2rem;
    }
    ul {
        border-top: 1px solid #d3d3d3;
        padding-left: 0;
        padding-top: 2rem;
        li {
            list-style: none;
            height: 56px;
            padding-left: 1.5rem;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            position: relative;
            &.active {
                background: var(--light);
                &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 4px;
                    background: var(--main);
                    top: 0;
                    left: 0;
                }
                a {
                    font-weight: 600;
                    color: #333;
                    svg, i {
                        color: #333 !important;
                        background-color: var(--main) !important;
                    }
                }
            }
            a {
                display: flex;
                align-items: center;
                gap: 1rem;
                text-decoration: none;
                color: #333;
                font-size: 1rem;
            }
        }
    }
}