.boolean {
    .title {
        h4 {
            margin-top: 2rem;
            font-size: 1.2rem;
            color: #333;
        }
    }
    button {
        height: 40px;
        width: 80px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #d3d3d3;
        background: transparent;
        font-weight: 600;
        color: #555;
        &.active {
            border: 1px solid var(--main);
            background: var(--light);
        }
        &:first-child {
            margin-right: 1rem !important;
        }
    }
}
